# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Database
*.sqlite3
media/

# Virtual environments
venv/
env/
ENV/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
